# Removendo os arquivos de configuração e os módulos do Node
.idea/
.vscode/
node_modules/
build/
temp/

# Removendo o arquivo com as variáveis de ambiente
.env
# Removendo o arquivo de configuração do ORM
ormconfig.json

# Removendo os arquivos de relatórios
coverage

# Removendo o diretório com os arquivos carregados no servidor
tmp/*
!tmp/.gitkeep
!tmp/uploads/avatar-placeholder.jpg

# Removendo o diretório com os arquivos convertidos para o ambiente de produção
dist
