<!DOCTYPE html>
<!-- Template para o e-mail de recuperação de senha -->
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    table {
      border-spacing: 0;
      border-collapse: separate;
    }

    div.email {
      font-size: 10pt;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      padding: 0 8px;
    }

    .email-content {
      max-width: 100%;
      min-width: 600px;
      width: 70%;
      border-collapse: separate;
      border-spacing: 0;
      margin-bottom: 32px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      table-layout: fixed;
      text-align: left;
    }

    .email-content-body {
      width: 100%;
      table-layout: fixed;
      border-color: #e8edee;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      background-color: #fff;
    }

    .email-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      color: #152619;
    }

    .email-text {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      color: #152619;
    }

    .link-button {
      background-color: #14aaf5;
      border-radius: 4px;
    }

    .link-button-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #ffffff;
    }

    .link-content {
      text-decoration: none;
      border-radius: 4px;
      padding: 8px 16px;
      border: 1px solid #14aaf5;
      display: inline-block;
    }

    div.footer {
      background-color: #f6f8f9;
      margin-bottom: 24px;
    }

    span.footer-text {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      color: #6f7782;
    }

    .content-vertical-spacing {
      height: 32px;
    }

    .content-horizontal-spacing {
      width: 64px;
    }

    .footer-horizontal-spacing {
      width: 24px;
    }

    td.footer-line-break {
      line-height: 24px;
      height: 24px;
      font-size: 24px;
    }

    .table-style {
      width: 100%;
      text-align: center;
    }

    .table-style-footer {
      width: 100%;
    }
  </style>
</head>

<body>
  <!-- Início do e-mail -->
  <div class="email">
    <!-- Tabela para o conteúdo principal do e-mail -->
    <table class="email-content">
      <tr>
        <td>
          <table class="table-style">
            <tbody>
              <tr>
                <!-- Logo -->
                <td align="center"><img alt="Logo" src="https://www.mhsw.com.br/images/logo.png" height="64" />
                </td>
              </tr>
              <tr>
                <!-- Espaçamento vertical entre a logo e o conteúdo do e-mail -->
                <td class="content-vertical-spacing"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="table-style">
            <tbody>
              <tr>
                <!-- Espaçamento horizontal esquerdo para o conteúdo em relação ao rodapé -->
                <td style="width: 30px;"></td>
                <td>
                  <!-- Conteúdo principal do e-mail -->
                  <table class="email-content-body">
                    <tbody>
                      <tr>
                        <!-- Espaçamento à esquerda -->
                        <td class="content-horizontal-spacing"></td>
                        <td>
                          <table class="table-style">
                            <tbody>
                              <tr>
                                <!-- Texto principal do e-mail  -->
                                <td style="width: 100%;">
                                  <table class="table-style">
                                    <tbody>
                                      <tr>
                                        <td class="content-vertical-spacing">
                                        </td>
                                      </tr>
                                      <!-- Título do texto principal -->
                                      <tr>
                                        <td align="center"><span class="email-title">Troca de
                                            senha</span></td>
                                      </tr>
                                      <!-- Pequeno espaçamento vertical entre o título e o resto do texto -->
                                      <tr>
                                        <td style="height: 8px;"></td>
                                      </tr>
                                      <!-- Restante do texto principal -->
                                      <tr>
                                        <td align="center"><span class="email-text">Olá,
                                            {{name}}, parece que uma troca
                                            de senha para sua conta foi
                                            solicitada no
                                            <b>GoBarber</b>!</br>Clique no
                                            botão abaixo para definir uma
                                            nova senha.</span></td>
                                      </tr>
                                      <!-- Espaçamento vertical para o botão -->
                                      <tr>
                                        <td class="content-vertical-spacing">
                                        </td>
                                      </tr>
                                      <!-- Botão com link de acesso -->
                                      <tr>
                                        <td align="center">
                                          <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <!-- Fundo do botão -->
                                                <td align="center" class="link-button">
                                                  <!-- Texto com o link no botão -->
                                                  <a href="{{link}}" target="_blank" class="link-content"><span
                                                      class="link-button-text">Trocar
                                                      senha</span></a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- Pequeno espaçamento vertical após o botão -->
                                      <tr>
                                        <td style="height: 48px"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <!-- Espaçamento à direita -->
                        <td class="content-horizontal-spacing"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <!-- Espaçamento horizontal direito para o conteúdo em relação ao rodapé -->
                <td style="width: 30px;"></td>
              </tr>
            </tbody>
          </table>
          <!-- Espaçamento vertical entre o conteúdo principal e o rodapé-->
          <table>
            <tbody>
              <tr>
                <td style="height: 48px;"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Rodapé da mensagem -->
          <div class="footer">
            <table class="table-style-footer">
              <tbody>
                <!-- Espaçamentos horizontais para o rodapé -->
                <tr>
                  <td class="footer-line-break footer-horizontal-spacing"></td>
                  <td class="footer-line-break"></td>
                  <td class="footer-line-break footer-horizontal-spacing"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><span class="footer-text">Você
                      recebeu esse e-mail porque uma solicitação de troca de senha foi feita no
                      GoBarber com esse endereço de e-mail. Se você acha que foi um engano, ignore
                      este e-mail -- a mudança ainda não foi confirmada.</span></td>
                  <td></td>
                </tr>
                <!-- Espaçamento vertical final para o container do rodapé -->
                <tr>
                  <td class="footer-line-break" style="max-width: 0;min-width: 0;width: 0;"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
